.main {
    min-height: calc(100vh - 100px);
}

.side-links li:hover,
.active {
    background-color: rgb(183, 183, 183);
    color: rgb(33, 37, 41);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.login-form {
    max-width: 400px;
    margin: auto;
}
